In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import nltk
import numpy as np
import re

df = pd.read_csv('../data/with_summary')

### Clean text

In [7]:
import string
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.corpus import stopwords, wordnet
from nltk import pos_tag
from nltk.stem import WordNetLemmatizer
from nltk.tokenize.treebank import TreebankWordDetokenizer
import re

#Cleans up messy parts of text input
def clean_text(text):
    text = text.replace('\n','')
    text = text.lower()
    #Adds spaces where they are missing after punctuation
    text = re.sub(r'(?<=[.,\?!:])(?=[^\s])', r' ', text)
    return text

In [10]:
df.text = df.text.apply(clean_text)
text = df.text

In [11]:
from bertopic import BERTopic

topic_model = BERTopic(language="english", calculate_probabilities=True, verbose=True)
topics, probs = topic_model.fit_transform(text)

Batches:   0%|          | 0/11 [00:00<?, ?it/s]

2022-02-10 17:17:13,857 - BERTopic - Transformed documents to Embeddings
2022-02-10 17:17:18,116 - BERTopic - Reduced dimensionality with UMAP
2022-02-10 17:17:18,140 - BERTopic - Clustered UMAP embeddings with HDBSCAN

In [12]:
freq = topic_model.get_topic_info(); freq.head(5)

   Topic  Count              Name
0     -1     53  -1_the_and_of_to
1      0     52    0_the_to_of_in
2      1     46   1_the_of_and_to
3      2     35   2_the_and_to_of
4      3     28   3_the_of_to_and